<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">لیست دریافت و پرداخت ها</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name" (sort)="onSort($event)">نوع</th>
                  <th sortable="position" (sort)="onSort($event)">بانک</th>
                  <th sortable="office" (sort)="onSort($event)">صاحب حساب</th>
                  <th sortable="age" (sort)="onSort($event)">شماره حساب</th>
                  <th sortable="date" (sort)="onSort($event)"> قابل پرداخت</th>
                  <th sortable="salary" (sort)="onSort($event)">وضعیت</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue(i)">
                      +
                    </a>
                  </td>
                  <td>
                    <span *ngIf="table.type === 'PAY'" class="text-info"> پرداخت</span>
                    <span *ngIf="table.type === 'RECEIVE'" class="text-info"> دریافت</span>

                  </td>
                  <td>
                    <ngb-highlight [result]="table.bankName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.accountOwnerName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.accountNumber" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.amount | number"  [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span *ngIf="table.status === 'CLEARED'" class="badge font-size-14 bg-success mb-1 " >تسویه شده</span>
                    <span *ngIf="table.status === 'UNCLEARED'" class="badge font-size-14 bg-info mb-1 " >تسویه نشده</span>
                    <span *ngIf="table.status === 'OVER'" class="badge font-size-14 bg-danger mb-1 " > اضافه واریز</span>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-info mr-1 "  (click)="makePayInfo(table, payInfoModal)">ثبت فیش</button>
                  </td>
                </tr>

                <tr *ngIf="hideme[i]" class="sub-table no-bg">
                  <td align="center"> </td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead class="bg-dark text-white">
                        <tr>
                          <th>مبلغ فیش</th>
                          <th>شماره فیش</th>
                          <th>وضعیت </th>
                          <th> تصویر</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pay of table.payInformationList ; let i = index">
                          <td>{{pay.amount | number}}</td>
                          <td>{{pay.receiptNumber}}</td>
                          <td>
                            <span *ngIf="pay.status === 'REQUEST'" class="badge font-size-14 bg-info mb-1 " > در انتظار </span>
                            <span *ngIf="pay.status === 'UNCONFIRM'" class="badge font-size-14 bg-danger  mb-1">تایید نشده</span>
                            <span *ngIf="pay.status === 'CONFIRM'" class="badge font-size-14 bg-success  mb-1">تایید شده</span>

                          </td>
                          <td> <img [src]="transform(pay.image)" (click)="showLightbox(pay.image)" width="145" style="max-height: 50px"/></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-image-fullscreen-view
                  [images]="imageObject"
                  [show]="showFlag"
                  [direction]="'rtl'"
                  [closeText]="'بستن'"
                  (click)="onclick($event)"
          ></ng-image-fullscreen-view>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #payInfoModal let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="payInfoForm" >
      <!--        Progress Bar-->
      <!--        <div class="progress form-group" *ngIf="percentDone">-->
      <!--          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"-->
      <!--               [style.width.%]="percentDone">-->
      <!--          </div>-->
      <!--        </div>-->
      <div class="row mb-5">
        <div class="col-md-6">
          <label for="amount" class="form-label">مبلغ فیش: </label>
          <input type="text" formControlName="amount" autocomplete="off" currencyMask  ngbAutofocus class="form-control" id="amount">
        </div>
        <div class="col-md-6">
          <label for="receiptNumber" class="form-label">شماره فیش: </label>
          <input type="text" formControlName="receiptNumber"    class="form-control" id="receiptNumber">
        </div>
        <div class="col-md-12">
          <label for="description" class="form-label"> توضیحات: </label>
          <input type="text" formControlName="description"    class="form-control" id="description">
        </div>
      </div>
      <div class="form-group">
        <div class="preview " *ngIf="preview && preview !== null">
          <img [src]="preview" [alt]="payInfoForm.value.name" width="150">
        </div>
      </div>

      <div class="form-group">
        <input type="file" (change)="uploadFile($event)">
      </div>

      <div class="row">
        <button class="btn btn-info btn-block mt-5" (click)="submitForm(); modal.close() ">ثبت فیش</button>
      </div>
    </form>
  </div>

</ng-template>
