<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-5">
            <div  class="d-flex flex-wrap">
              <h4 class="card-title">لیست  کاربران</h4>
              <div  class="ms-auto mt-auto">
                <button class="btn btn-primary" (click)="createUserFunc(createUserModal)">ایجاد کاربر جدید</button>
              </div>

            </div>
          </div>

          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">تعداد
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> سطر</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">جستجو:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="نام " (sort)="onSort($event)"> نام</th>
                  <th>موبایل</th>
                  <th>گروهایی قیمتی</th>
                  <th>گروهایی دسترسی</th>
                  <th> مدیریت</th>
                </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                  <td>
                    <ngb-highlight [result]="table.person?.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.person?.cellPhone" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>

                      <span *ngFor="let priceGroup of table.priceGroups" >
                         <ngb-highlight [result]="priceGroup.name" ></ngb-highlight> &nbsp;
                      </span>


                  </td>
                  <td>
                      <span *ngFor="let group of table.groups" >
                         <ngb-highlight [result]="group.name" ></ngb-highlight> &nbsp;
                      </span>

                  </td>

                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a class="text-primary" href="javascript: void(0);" ngbTooltip="ارسال پیام"><i class="bx bx-message-square-dots"></i></a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a class="text-info" (click)="editUser(table, createUserModal )" ngbTooltip="ویرایش"><i class="bx  bx-edit-alt"></i></a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a class="text-danger" href="javascript: void(0);" ngbTooltip="غیر فعال سازی "><i class="bx bx-user-minus"></i></a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a class="text-warning" href="javascript: void(0);" ngbTooltip="ریست رمز ورود"><i class="bx bx-key"></i></a>
                      </li>
                    </ul>
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==================================================================-->
<ng-template #createUserModal let-modal>
  <div class="modal-header">
    <!--    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'b'">درخواست خرید</h4>-->
    <h4 class="modal-title" > ایجاد کاربر جدید</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="createUserForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-6">
          <label  class="form-label">طرف حساب: </label>
          <ng-select [items]="persons"
                     (change)="changeSelectPerson($event)"
                     autofocus="true"
                     notFoundText = "مشتری با این نام وجود ندارد!"
                     bindLabel="name"
                     formControlName="personId"
                     bindValue="id"
                     [loading]="personsLoading">
          </ng-select>
<!--          <input  type="text" formControlName="name" class="form-control" id="name">-->
        </div>
        <div class="col-md-6">
          <label  class="form-label">گروه دسترسی </label>
          <ng-select [items]="groups"
                     notFoundText = "گروه دسترسی وجود ندارد !"
                     bindLabel="name"
                     formControlName="groupIds"
                     id="groupIds"
                     bindValue="id"
                     multiple="true"
                     [loading]="groupsLoading">
          </ng-select>
<!--          <input  type="text" formControlName="name" class="form-control" id="name">-->
        </div>
        <div class="col-md-6">
          <label  class="form-label">گروه قیمتی </label>
          <ng-select [items]="priceGroups"

                     notFoundText = "گروه دسترسی وجود ندارد !"
                     bindLabel="name"
                     formControlName="priceGroupIds"
                     bindValue="id"
                     multiple="true"
                     [loading]="priceGroupLoading">
          </ng-select>
<!--          <input  type="text" formControlName="name" class="form-control" id="name">-->
        </div>
        <div class="col-md-6">
          <label for="dateOfBirth" class="form-label">تاریخ تولد </label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              formControlName="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt font-size-20 text-light"></i></button>
          </div>
        </div>
        <div class="col-md-6">
          <label for="genderEnum" class="form-label">جنسیت </label>
          <select class="form-select" formControlName="genderEnum" id="genderEnum">
            <option value="MALE" [defaultSelected]="true">مرد</option>
            <option value="FEMALE">زن </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label"> ایمیل</label>
          <input type="email" autocomplete="off" formControlName="email" class="form-control" id="email">
        </div>
        <div class="col-md-6">
          <label for="cellPhone" class="form-label">موبایل</label>
          <input type="text"  formControlName="cellPhone" class="form-control" id="cellPhone">
        </div>
        <div class="col-md-6">
          <label for="phoneNumber" class="form-label"> تلفن ثابت</label>
          <input type="text"  formControlName="phoneNumber" class="form-control" id="phoneNumber">
        </div>
        <div class="col-md-4">
          <label for="city" class="form-label">  شهر</label>
          <input type="text"  formControlName="city" class="form-control" id="city">
        </div>
        <div class="col-md-8">
          <label for="address" class="form-label">  آدرس</label>
          <input type="text"  formControlName="address" class="form-control" id="address">
        </div>
        <div class="col-md-12" *ngIf="!createUserForm.get('id').value">
          <label for="password" class="form-label">رمز ورود</label>
          <input type="password"  formControlName="password" class="form-control" id="password">
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit"  class="btn btn-success btn-sm"
              (click)="saveUser(); modal.close()"> ذخیره کاربر
      </button>

    </div>
  </form>
</ng-template>
