<div class="container-fluid">
  <ng-template #loading ><div style="margin-top: 300px" class=" d-flex justify-content-center">
    <span class="loader" ></span>
  </div></ng-template>
  <div  *ngIf="!displaySpinner; else loading">
  <div class="row" *ngIf="deviceService.isDesktop()" >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">لیست تراکنش ها</h4>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">جستجو:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" (keyup)="search($event)"></label></div>
            </div>

          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="sanad" >شماره سند</th>
                  <th sortable="tariz" >تاریخ</th>
                  <th>شرح</th>
                  <th>تاثیر ریالی </th>
                  <th >مانده ریالی</th>
                  <th >تاثیر وزنی</th>
                  <th>مانده وزنی</th>
                </tr>
              </thead>
              <tbody *ngFor="let table of transaction let i=index">
                <tr>
                  <td>
                    <ngb-highlight [result]="table.sanad.toString()" ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.tariz" ></ngb-highlight>
                  </td>
                  <td>
                    {{table.sh}} <span *ngIf="table.ayar !== 750"> وزن اول {{table.v_1}}به عیار{{table.ayar}}</span>
                  </td>
                  <td>
                    <ngb-highlight *ngIf="table.r_bes> 0" class="text-success" [result]="table.r_bes| number" ></ngb-highlight>
                    <ngb-highlight *ngIf="table.r_bed> 0" class="text-danger"  [result]="table.r_bed| number" ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.balance_r | number" ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight *ngIf="table.v_bes> 0" class="text-success" [result]="table.v_bes| number : '.3-3' " ></ngb-highlight>
                    <ngb-highlight *ngIf="table.v_bed> 0"  class="text-danger" [result]="table.v_bed| number : '.3-3' " ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.balance_v| number : '.3-3'  " ></ngb-highlight>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="totalElements " [(page)]="pageable.pageNumber " [pageSize]="pageable.pageSize"
                                [maxSize]="7" [rotate]="true" (pageChange)="selectPage($event)"
                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="deviceService.isMobile()">
    <div class="card"  *ngFor="let table of transaction">
      <div class="card-body">
        <div class="row border-bottom ">
          <div class="d-flex justify-content-between">
        <span>
            سند :{{table.sanad}}
        </span>
            <span>
           تاریخ : {{table.tariz}}
        </span>
          </div>


        </div>
        <div class="row">
          <span>
            شرح : {{table.sh}} <span *ngIf="table.ayar !== 750"> وزن اول {{table.v_1}}به عیار{{table.ayar}}</span>
          </span>
        </div>
        <div class="row">
          <div class="d-flex justify-content-between">
          <span *ngIf="table.v_bes || table.v_bed">
            تاثیر وزنی : <span class="text-success" *ngIf="table.v_bes>0">{{table.v_bes| number : '.3-3'}}</span>
                        <span class="text-danger " *ngIf="table.v_bed>0">{{table.v_bed| number : '.3-3'}}</span>
        </span>
            <span *ngIf="table.r_bes || table.r_bed">
            تاثیر ریالی : <span class="text-success" *ngIf="table.r_bes>0">{{table.r_bes|number}}</span>
                          <span class="text-danger" *ngIf="table.r_bed>0">{{table.r_bed|number}}</span>
        </span>
          </div>
       </div>
        <div class="row border-top">
          <div class="d-flex justify-content-between">
          <span>
            مانده وزنی : <span class="badge font-size-14" [ngClass]="table.balance_v > 0 ? ' badge-soft-success ' : 'badge-soft-danger'" >{{table.balance_v| number : '.3-3'}}</span>

        </span>
            <span>
            مانده ریالی : <span class="badge" [ngClass]="table.balance_r > 0 ? ' badge-soft-success ' : 'badge-soft-danger'" >{{table.balance_r|number}}</span>

        </span>
          </div>
        </div>

</div>

    </div>
    <div class="col-sm-12 col-md-5">
      <div class="text-md-right float-md-end pagination-rounded">
        <ngb-pagination [collectionSize]="totalElements " [(page)]="pageable.pageNumber" [pageSize]="pageable.pageSize"
                        [maxSize]="7" [rotate]="true" (pageChange)="selectPage($event)"

        >
        </ngb-pagination>
      </div>
    </div>
  </div>

  </div>
</div>
