<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="27">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="27">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

    </div>

    <div class="d-flex">

      <div class="dropdown d-inline-block d-lg-none ms-2" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu
          aria-labelledby="page-header-search-dropdown">

          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>



<!--      <div class="dropdown d-none d-lg-inline-block ms-1" ngbDropdown>-->
<!--        <button type="button" class="btn header-item noti-icon" ngbDropdownToggle>-->
<!--          <i class="bx bx-customize"></i>-->
<!--        </button>-->
<!--        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end" ngbDropdownMenu>-->
<!--          <div class="px-lg-2">-->
<!--            <div class="row no-gutters">-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/github.png" alt="Github">-->
<!--                  <span>GitHub</span>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/bitbucket.png" alt="bitbucket">-->
<!--                  <span>Bitbucket</span>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/dribbble.png" alt="dribbble">-->
<!--                  <span>Dribbble</span>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row no-gutters">-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/dropbox.png" alt="dropbox">-->
<!--                  <span>Dropbox</span>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">-->
<!--                  <span>Mail Chimp</span>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <a class="dropdown-icon-item" href="javascript: void(0);">-->
<!--                  <img src="assets/images/brands/slack.png" alt="slack">-->
<!--                  <span>Slack</span>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" ngbTooltip="تمام صفحه" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>
      <div class="dropdown  d-lg-inline-block ms-1" *permissionAnyOf="['admin', 'super_admin', 'acc']">
        <button type="button" class="btn header-item noti-icon "  ngbTooltip="موجودی سکه" (click)="makeMessage(sekehModal)">
          <i class="bx bxl-mastercard text-warning"></i>
        </button>
      </div>
      <div class="dropdown  d-lg-inline-block ms-1" *permissionAnyOf="['admin', 'super_admin', 'acc']">
        <button type="button" class="btn header-item noti-icon " data-toggle="fullscreen" ngbTooltip="ارسال  پیام" (click)="getAdminSekeh( makeMessageModal)">
          <i class="bx bxl-messenger "></i>
        </button>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
          ngbDropdownToggle>
          <i class="bx bx-bell bx-tada"></i>
          <span class="badge bg-danger rounded-pill">3</span>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
          <ngx-simplebar style="position: relative; ">
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media ">
                <div class="alert alert-success">
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">FIRST.TITLE</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                    </div>
                  </div>
                </div>

              </div>
            </a>

          </ngx-simplebar>
          <ngx-simplebar style="position: relative; ">
            <a href="javascript: void(0);" class="text-reset notification-item">
              <div class="media ">
                <div class="alert alert-success">
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">FIRST.TITLE</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                    </div>
                  </div>
                </div>

              </div>
            </a>

          </ngx-simplebar>
        </div>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">
          <img class="rounded-circle header-profile-user" src="assets/images/users/avatar.jpg" alt="Header Avatar">
          <span class="d-none d-xl-inline-block ms-1">{{user?.person?.name}}</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

          <a class="dropdown-item d-block" *permissionAnyOf="['admin', 'super_admin']" href="javascript: void(0);" (click)="changeSetting(setting)"><i class="bx bx-cog font-size-16 align-middle me-1"></i>
            تنظیمات </a>
          <div class="dropdown-divider" *permissionAnyOf="['admin', 'super_admin']"></div>
          <a class="dropdown-item d-block" href="javascript: void(0);" (click)="resetPassword(resetPasswordModal)"><i class="bx bx-key font-size-16 align-middle me-1"></i>{{
            'تغییر رمز ورود' }} </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            {{ 'خروج' }}</a>
        </div>
      </div>

    </div>
  </div>
</header>

<ng-template #resetPasswordModal let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="resetPasswordForm" >
      <div class="row mb-5">
        <div class="col-md-12">
          <label for="oldPassword" class="form-label">رمزعبور قبلی: </label>
          <input type="text" formControlName="oldPassword" autocomplete="off"   ngbAutofocus class="form-control" id="oldPassword">
        </div>
        <div class="col-md-12">
          <label for="newPassword" class="form-label">رمز عبور جدید: </label>
          <input type="password" formControlName="newPassword"    class="form-control" id="newPassword">
        </div>
      </div>
      <div class="row">
        <button class="btn btn-info btn-block mt-2" (click)="saveNewPassword(); modal.close() "> ذخیره رمز جدید</button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #setting let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="settingForm" >
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="form-check form-check-success ">
            <input class="form-check-input" formControlName="sendMessageForOrderConfirm" type="checkbox" id="sendMessageForOrderConfirm">
            <label class="form-check-label" for="sendMessageForOrderConfirm">
              ارسال پیامک تایید درخواست
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <label for="rejectTime" class="form-label"> از مقدار -بیشتر ارسال پیامک درخواست : </label>
          <input type="number" formControlName="sendMessageForOrderConfirmAmount" autocomplete="off"   ngbAutofocus class="form-control" id="sendMessageForOrderConfirmAmount">
        </div>
        <div class="col-md-6">
          <label for="rejectTime" class="form-label"> انتظار تایید درخواست: </label>
          <input type="number" formControlName="rejectTime" autocomplete="off"   ngbAutofocus class="form-control" id="rejectTime">
        </div>
        <div class="col-md-6">
          <label for="payImageDirectory" class="form-label">آدرس ذخیره فیش ها: </label>
          <input type="text" formControlName="payImageDirectory"    class="form-control" id="payImageDirectory">
        </div>
        <div class="col-md-6">
          <label for="textMessageUsername" class="form-label">نام کاربری سامانه پیام:</label>
          <input type="text" formControlName="textMessageUsername"    class="form-control" id="textMessageUsername">
        </div>
        <div class="col-md-6">
          <label for="textMessagePassword" class="form-label">رمز سامانه پیام: </label>
          <input type="text" formControlName="textMessagePassword"    class="form-control" id="textMessagePassword">
        </div>
        <div class="col-md-12">
          <label for="textMessageNumber" class="form-label">شماره ارسال پیام: </label>
          <input type="text" formControlName="textMessageNumber"    class="form-control" id="textMessageNumber">
        </div>
      </div>
      <div class="row">
        <button class="btn btn-info btn-block mt-2" (click)="saveSetting(); modal.close() "> ذخیره رمز جدید</button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #sekehModal let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table class="table table-sm table-striped table-hover">
        <tr *ngFor="let s of sekehs ">
          <td>{{s.name_sekh}}</td>
          <td>{{s.tedad}}</td>
        </tr>
      </table>
  </div>

</ng-template>

<ng-template #makeMessageModal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="messageForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-12">
          <label for="type" class="form-label">نوع پیام</label>
          <select class="form-select me-sm-2 wide" aria-label="Default select example" formControlName="type" id="type">
            <option value="ALERT" class="alert-primary text-primary"> عمومی</option>
            <option  value="MESSAGE" class="alert-warning text-success"> هشدار </option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="title" class="form-label">عنوان :</label>
          <input type="text" formControlName="title" class="form-control"
                 id="title">
        </div>
        <div class="col-md-12">
          <label for="body" class="form-label">متن :</label>
          <input type="text" formControlName="body" class="form-control"
                 id="body">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm"
              (click)="modal.close(); ">انصراف
      </button>
      <button type="submit"
              (click)="sendMessage() ;modal.close() "
              class="btn btn-success btn-sm">ارسال پیام
      </button>

    </div>
  </form>
</ng-template>
