<div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card mini-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-component"></i></span>  مانده طلایی</p>
                      <h5 class="mb-0" > <span class="badge font-size-14 p-2" [ngClass]="myBalance.balance_v > 0 ? ' badge-soft-success ' : 'badge-soft-danger'">  {{myBalance?.balance_v | number : '.3-3'}} گرم </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
                      <button class="btn btn-sm w-md btn-primary "  href="">حواله طلا </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card blog-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-dollar-circle"></i></span>  مانده ریالی</p>
                      <h5 class="mb-0"> <span  class="badge font-size-14 p-2" [ngClass]="myBalance.balance_v > 0 ? ' badge-soft-success ' : 'badge-soft-danger'">{{myBalance.balance_r | number}} ریال </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
                      <button class="btn btn-sm w-md btn-primary "  href="">برداشت </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> روزانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_sum_8x}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_sum_9x}}</h5>
                        <p class="text-muted text-truncate mb-0" ><span  [ngClass]="(adminBalance.today_sum_8x - adminBalance.today_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{adminBalance.today_sum_8x - adminBalance.today_sum_9x }} </span></p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_avg_maz_8x}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_avg_maz_9x}}</h5>
                        <p class="text-muted text-truncate mb-0">{{adminBalance.today_avg_maz_8x - adminBalance.today_avg_maz_9x }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> هفتگی </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_sum_9x | number : '.2-2'}} </h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.week_sum_8x - adminBalance.week_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.week_avg_maz_8x - adminBalance.week_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> ماهانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_sum_9x | number : '.2-2'}} </h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.month_sum_8x - adminBalance.month_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.month_avg_maz_8x - adminBalance.week_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> سالانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.year_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.year_sum_9x | number : '.2-2'}} </h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.year_sum_8x - adminBalance.year_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.year_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.year_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="text-muted text-truncate mb-0">{{(adminBalance.year_avg_maz_8x - adminBalance.year_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
  <div class="row" >
    <div class="col-12">
      <div class="card">
        <div class="card-body" >
          <form name="editForm" role="form" novalidate  [formGroup]="setPriceForm">
            <div class="table-responsive table-hover fs-14 ">
              <table class="table mb-4 dataTablesCard dataTable border-no font-w600  text-black">
                <tr>
                  <td>آبشده</td>
                  <td class="text-danger">
                    <input
                      type="checkbox"
                      [checked]="setPrice.ab" (change)="setlimit()" formControlName="ab" >
                  </td>
                  <td class="text-success">
                    <input
                      type="checkbox"
                      [checked]="setPrice.as" (change)="setlimit()" formControlName="as" >
                  </td>
                  <td>  <ngx-number-spinner formControlName="price"   (change)="setlimit()"  [step]="1000"></ngx-number-spinner></td>
                </tr>

              </table>
            </div>
          </form>
          <div class="align-content-center">
            <table class=" table-responsive" >
              <tr *ngFor="let m of mas " class="pb-4 ">
                <td class="col-sm-4 col-md-4">
                  <button class="btn btn-success shadow " (click)="makeOrder(orderModel, m.buy, 'b')">خرید{{m.buy| number}}  </button></td>
                <td  class="col-sm-4 col-4">نرخ نقدی</td>
                <td  class="col-sm-4 col-4"> <button class="btn btn-danger shadow " (click)="makeOrder(orderModel, m.sell, 's')">فروش{{m.sell| number}}  </button></td>
              </tr>

            </table>
            <!--      <div>-->
            <!--        <div class="btn-group btn-group-example mb-3" role="group">-->
            <!--          <button type="button" class="btn btn-primary w-xs">خرید آبشده</button>-->
            <!--          <button type="button" class="btn btn-danger w-xs">فروش آبشده </button>-->
            <!--        </div>-->
            <!--      </div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->


<!--**********************************
                modal
***********************************-->
<ng-template #orderModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'b'">درخواست خرید</h4>
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 's'">درخواست فروش</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate (ngSubmit)="saveGoldOrder()" [formGroup]="orderForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-12">
          <p *ngIf="orderForm.get('transaction_type').value === 'b'" class="alert alert-success">
            <span>خرید آبشده از ما با نرخ   {{orderForm.get('fee').value| number}}</span>
          </p>
          <p *ngIf="orderForm.get('transaction_type').value === 's'" class="alert alert-danger">
            <span>فروش آبشده به ما با نرخ    {{orderForm.get('fee').value| number}}</span>

          </p>
        </div>
        <div class="col-md-12">
          <label for="quantity" class="form-label">مقدار درخواست: </label>
          <input type="number"  (keyup)="culcPrice()" formControlName="quantity" class="form-control" id="quantity">
        </div>
        <div class="col-md-12">
          <label for="price" class="form-label">مبلغ به تومان :</label>
          <input type="text" currencyMask (keyup)="culcQuantity()"  formControlName="price" class="form-control"
                 id="price">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit"
             class="btn btn-success btn-sm"
              (click)="modal.close()">ثبت درخواست
      </button>

    </div>
  </form>
</ng-template>
