<div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="row" *permissionAnyOf="['admin','user']" >
            <div class="col-lg-6">
              <div class="card mini-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-component"></i></span>  مانده طلایی</p>
                      <h5 class="mb-0" > <span class="badge font-size-14 p-2" [ngClass]="myBalance.balance_v > 0 ? ' badge-soft-success ' : 'badge-soft-danger'">  {{myBalance?.balance_v | number : '.3-3'}} گرم </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
                      <button class="btn btn-sm w-md btn-primary "  href="">حواله طلا </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card blog-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-dollar-circle"></i></span>  مانده ریالی</p>
                      <h5 class="mb-0"> <span  class="badge font-size-14 p-2" [ngClass]="myBalance.balance_v > 0 ? ' badge-soft-success ' : 'badge-soft-danger'">{{myBalance.balance_r | number}} ریال </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
                      <button class="btn btn-sm w-md btn-primary "  href="">برداشت </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-center "  *permissionAnyOf="['admin','user']">
            <div class="col-sm-3 text-center">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> روزانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_sum_8x | number : '.2-2'}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_sum_9x | number : '.2-2'}}</h5>
                        <p  ><span  class="badge font-size-14" [ngClass]="(adminBalance.today_sum_8x - adminBalance.today_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{adminBalance.today_sum_8x - adminBalance.today_sum_9x | number : '.2-2' }} </span></p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_avg_maz_8x | number : '.0-0'}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_avg_maz_9x | number : '.0-0'}}</h5>
                        <p  class="badge font-size-14 "
                            [ngClass]="(adminBalance.today_avg_maz_8x - adminBalance.today_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'"
                        >{{adminBalance.today_avg_maz_8x - adminBalance.today_avg_maz_9x | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> هفتگی </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.week_sum_8x - adminBalance.week_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.week_sum_8x - adminBalance.week_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.week_avg_maz_8x - adminBalance.week_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.week_avg_maz_8x - adminBalance.week_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> ماهانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14" [ngClass]="(adminBalance.month_sum_8x - adminBalance.month_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.month_sum_8x - adminBalance.month_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 p-2" [ngClass]="(adminBalance.month_avg_maz_8x - adminBalance.month_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.month_avg_maz_8x - adminBalance.month_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i
                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> کل </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.total_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.total_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14 p-2" [ngClass]="(adminBalance.total_sum_8x - adminBalance.total_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.total_sum_8x - adminBalance.total_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.total_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.total_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 p-2" [ngClass]="(adminBalance.total_avg_maz_8x - adminBalance.total_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.total_avg_maz_8x - adminBalance.total_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
  <div class="card d-flex">
    <div class="">
    <div class="card-body  align-items-center d-flex justify-content-center ">
      <div class="text-center">
        <div class="row ">
          <div class="align-content-center">
            <table class=" table-responsive" >
              <tr *ngFor="let m of mas " class="pb-4 ">
                <td class="col-sm-4 col-md-4">
                  <button class="btn btn-success shadow " (click)="makeOrder(orderModel, m.priceGroupId, 'BUY')">خرید{{m.buy| number}}  </button></td>
                <td  class="col-sm-4 col-4">{{m.priceGroupName}}</td>
                <td  class="col-sm-4 col-4"> <button class="btn btn-danger shadow " (click)="makeOrder(orderModel, m.priceGroupId, 'SELL')">فروش{{m.sell| number}}  </button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>



  <div class="row" *permissionIf="'admin'">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" >
              <div class="row">
                <form name="editForm" role="form" novalidate  [formGroup]="setPriceForm">
                  <div class="table-responsive table-hover fs-14 ">
                    <table class="table mb-4 dataTablesCard dataTable border-no font-w600  text-black">
                      <tr>

                        <td>  <ngx-number-spinner formControlName="price"   (change)="setlimit()"  [step]="5000"></ngx-number-spinner></td>
                      </tr>

                    </table>
                  </div>
                </form>
              </div>
          <div class="text-center">
            <div class="row">
              <div class="align-content-center">
                <table class=" table-responsive" >
                  <p>قیمت</p>
                  <tr *ngFor="let m of mas " class="pb-4 ">
                    <td class="col-sm-4 col-md-4">
                      <button class="btn btn-success shadow " (click)="makeOrder(orderModel, m.priceGroupId, 'BUY')">خرید{{m.buy| number}}  </button></td>
                    <td  class="col-sm-4 col-4">{{m.priceGroupName}}</td>
                    <td  class="col-sm-4 col-4"> <button class="btn btn-danger shadow " (click)="makeOrder(orderModel, m.priceGroupId, 'SELL')">فروش{{m.sell| number}}  </button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    </div>
  <div class="row" *ngIf="orders"  >
    <div class="card">
      <div class="card-body">
    <div class="table-responsive table-hover fs-14  " *ngIf="orders?.length > 0">
      <table class="table display mb-4 dataTablesCard dataTable border-no font-w600  card-table text-black">

        <tr class="align-middle">
          <td> نوع درخواست</td>
          <td></td>
          <td>مقدار</td>
          <td>نرخ </td>
          <td>وضعیت</td>
          <td>توضیحات</td>
          <td >عملیات</td>
        </tr>
        <tr *ngFor="let order of orders; let i = index">
          <!--                  <td  *permissionIf="'admin'"> {{order.user.name}}</td>-->
          <td *ngIf="order.type === 'SELL'">فروش آبشده</td>
          <td *ngIf="order.type === 'BUY'">خرید آبشد</td>

          <td>{{order.amount | number : '1.0-3'}}</td>
          <td>{{order.price | number}}</td>
          <td >
            <span *ngIf="order.status === 'REQUEST'" class="badge bg-info " > در انتظار </span>
            <span *ngIf="order.status === 'UNCONFIRM'" class="badge font-size-10 bg-danger">تایید نشده</span>
            <span *ngIf="order.status === 'REJECT'" class="badge font-size-10 bg-warning">بدون پاسخ </span>
            <span *ngIf="order.status === 'CONFIRM'" class="badge font-size-10 bg-success">تایید شده</span>
          </td>
          <td>{{order.description}}</td>
          <td >
            <div class="btn-group btn-group-sm" role="group">
              <button class="btn btn-success  "  [disabled]="order.status != 'REQUEST'" (click)="confirmOrder(order)">تایید</button>
              <button class="btn  btn-danger"  [disabled]="order.status != 'REQUEST'" (click)="rejectOrder(order, reject)" >رد</button>
            </div>

          </td>
        </tr>
      </table>
    </div>
      </div>
    </div>
  </div>
  </div>



<!--**********************************
                modal
***********************************-->
<ng-template #orderModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'BUY'">درخواست خرید</h4>
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'SELL'">درخواست فروش</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="orderForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-12">
          <p *ngIf="orderForm.get('transaction_type').value === 'BUY'" class="alert alert-success">
            <span>خرید آبشده از ما با نرخ   {{orderForm.get('fee').value| number}}</span>
          </p>
          <p *ngIf="orderForm.get('transaction_type').value === 'SELL'" class="alert alert-danger">
            <span>فروش آبشده به ما با نرخ    {{orderForm.get('fee').value| number}}</span>

          </p>
        </div>
        <div class="col-md-12">
          <label for="quantity" class="form-label">مقدار درخواست: </label>
          <input type="number"  (keyup)="culcPrice()" formControlName="quantity" class="form-control" id="quantity">
        </div>
        <div class="col-md-12">
          <label for="price" class="form-label">مبلغ به تومان :</label>
          <input type="text" currencyMask   (keyup)="culcQuantity()"  formControlName="price" class="form-control"
                 id="price">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit"
              (click)="saveGoldOrder() ;modal.close() "
             class="btn btn-success btn-sm">ثبت درخواست
      </button>

    </div>
  </form>
</ng-template>

<ng-template #reject let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <select class="form-select me-sm-2 wide" aria-label="Default select example" [(ngModel)]="rejectComment" id="rejectComment">
      <option value="با عرض پوزش به علت تغییر مظنه تایید نشد">با عرض پوزش به علت تغییر مظنه تایید نشد</option>
      <option value=" مقدار درخواست خارج از محدوده"> مقدار درخواست خارج از محدوده</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss('cancel click')">انصراف</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss(unconfirmOrder(rejectComment))">تایید</button>
  </div>
</ng-template>
