<div class="container-fluid">
    <div class="row">

        <div class="col-12">
<!--============================================= User Balance ==========================================================-->
          <div class="row" *permissionOnly="['user']" >
            <div class="col-lg-6">
              <div class="card mini-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-component"></i></span>  مانده طلایی</p>
                      <h5 class="mb-0" >
                        <i *ngIf="loadingMyBalance" class="bx bx-revision bx-spin text-info font-size-17"></i>
                        <span *ngIf="!loadingMyBalance" class="badge font-size-14 p-2" [ngClass]="myBalance.balance_v > 0 ?
                         ' badge-soft-success ' : 'badge-soft-danger'">   {{myBalance?.balance_v | number : '.3-3'}} گرم </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
<!--                      <button class="btn btn-sm w-md btn-primary " *ngIf="myBalance.balance_v>0" (click)="remitGold(remitModal)">حواله طلا </button>-->
<!--                      <button class="btn btn-sm w-md btn-primary " *ngIf="myBalance.balance_v<=0" (click)="CantRemitGold()">حواله طلا </button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card blog-stats-wid">
                <div class="card-body">
                  <div class="d-flex flex-wrap">
                    <div class="mr-3">
                      <p class="text-muted mb-2">   <span class="text-warning h3"><i class="bx bxs-dollar-circle"></i></span>  مانده ریالی</p>
                      <h5 class="mb-0">
                        <i *ngIf="loadingMyBalance" class="bx bx-revision bx-spin text-info font-size-17"></i>
                        <span *ngIf="!loadingMyBalance" class="badge font-size-14 p-2" [ngClass]="myBalance.balance_r > 0 ? ' badge-soft-success ' : 'badge-soft-danger'">{{myBalance.balance_r | number}} ریال </span>
                      </h5>
                    </div>
                    <div class="ms-auto mt-auto">
<!--                      <button class="btn btn-sm w-md btn-primary " *ngIf="myBalance.balance_r>0" (click)="remitGold(remitModal)">درخواست وجه </button>-->
<!--                      <button class="btn btn-sm w-md btn-primary " *ngIf="myBalance.balance_r<=0" (click)="CantRemitGold()">درخواست حساب </button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--============================================= Admin Balance ==========================================================-->
          <div class="row text-center "  *permissionAnyOf="['admin', 'super_admin']">
            <div class="col-sm-3 text-center">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i (click)="getAdminBalance()"
                    class="mdi mdi-calendar h2 text-primary align-middle mb-0 me-3"></i> روزانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_sum_8x | number : '.2-2'}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_sum_9x | number : '.2-2'}}</h5>
                        <p  ><span  class="badge font-size-14" [ngClass]="(adminBalance.today_sum_8x - adminBalance.today_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{adminBalance.today_sum_8x - adminBalance.today_sum_9x | number : '.2-2' }} </span></p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.today_avg_maz_8x | number : '.0-0'}}</h5>
                        <h5 class="text-danger">{{adminBalance.today_avg_maz_9x | number : '.0-0'}}</h5>
                        <p  class="badge font-size-14 "
                            [ngClass]="(adminBalance.today_avg_maz_8x - adminBalance.today_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'"
                        >{{adminBalance.today_avg_maz_8x - adminBalance.today_avg_maz_9x | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i  (click)="getAdminBalance()"
                    class="mdi mdi-calendar h2 text-primary align-middle mb-0 me-3"></i> هفتگی </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.week_sum_8x - adminBalance.week_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.week_sum_8x - adminBalance.week_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.week_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.week_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.week_avg_maz_8x - adminBalance.week_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.week_avg_maz_8x - adminBalance.week_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i  (click)="getAdminBalance()"
                    class="mdi mdi-calendar h2 text-primary align-middle mb-0 me-3"></i> ماهانه </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14" [ngClass]="(adminBalance.month_sum_8x - adminBalance.month_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.month_sum_8x - adminBalance.month_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.month_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.month_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.month_avg_maz_8x - adminBalance.month_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.month_avg_maz_8x - adminBalance.month_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted mb-2"><i  (click)="getAdminBalance()"
                    class="mdi mdi-calendar h2 text-primary align-middle mb-0 me-3"></i> کل </p>

                  <div class="row">
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.total_sum_8x |  number : '.2-2'}} </h5>
                        <h5 class="text-danger">{{adminBalance.total_sum_9x | number : '.2-2'}} </h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.total_sum_8x - adminBalance.total_sum_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.total_sum_8x - adminBalance.total_sum_9x) | number : '.2-2' }} </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div>
                        <h5 class="text-success">{{adminBalance.total_avg_maz_8x | number : '.0-0'}} </h5>
                        <h5 class="text-danger">{{adminBalance.total_avg_maz_9x | number : '.0-0'}}</h5>
                        <p class="badge font-size-14 " [ngClass]="(adminBalance.total_avg_maz_8x - adminBalance.total_avg_maz_9x) > 0 ? ' bg-success ' : 'bg-danger'">{{(adminBalance.total_avg_maz_8x - adminBalance.total_avg_maz_9x) | number : '.0-0' }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  <!--============================================= user prices ==========================================================-->
  <div class="row" *permissionOnly="['user']">
    <div class="col-md-6"   >
      <div class="card " >
        <div class="">
          <div class="card-body  justify-content-center ">
            <div class="text-center">
              <div class="row ">
                <div class="align-content-center">

                  <div class="row mt-3 "  *ngFor="let m of mas ">
                      <div class="d-flex justify-content-around">
                      <div ><button class="btn btn-success btn-block " *ngIf="m.activeBuy" (click)="makeOrder(orderModel, m.priceGroupId, 'BUY')">
                        <span>  {{m.buy| number}}  </span>  <span class="font-size-8">ریال</span><br/>
                        <span>خرید از ما  </span>
                      </button></div>
                      <div >  <h5>{{m.priceGroupName}} </h5></div>
                      <div > <button class="btn btn-danger btn-block "*ngIf="m.activeSell" (click)="makeOrder(orderModel, m.priceGroupId, 'SELL')">
                        <span>  {{m.sell| number}}  </span> <span class="font-size-8">ریال</span><br/>
                        <span>فروش به ما  </span>
                      </button></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--============================================= user orders ==========================================================-->
    <div class="col-md-6">
      <div *ngIf="orders?.length > 0"  >
        <div class="card">
          <div class="card-body">
            <div class="table-responsive table-hover fs-14  " >
              <table class="table display mb-4 dataTablesCard dataTable border-no font-w600  card-table text-black">

                <tr class="align-middle">
                  <td> نوع درخواست</td>
                  <td>مقدار</td>
                  <td>نرخ </td>
                  <td>توضیحات</td>
                  <td>وضعیت</td>
                  <td *permissionAnyOf="['admin', 'super_admin', 'acc']">عملیات</td>
                </tr>
                <tr *ngFor="let order of orders; let i = index">
                  <!--                  <td  *permissionIf="'admin', 'super_admin'"> {{order.user.name}}</td>-->
                  <td *ngIf="order.type === 'SELL'">فروش آبشده</td>
                  <td *ngIf="order.type === 'BUY'">خرید آبشد</td>

                  <td>{{order.amount | number : '1.0-3'}}</td>
                  <td>{{order.price | number}}</td>
                  <td>{{order.description}}</td>
                  <td >
                    <span *ngIf="order.status === 'REQUEST'" class="badge  font-size-12 bg-info p-1" > در انتظار


                    </span>
                    <span *ngIf="order.status === 'UNCONFIRM'" class="badge font-size-12 bg-danger p-1">تایید نشده</span>
                    <span *ngIf="order.status === 'REJECT'" class="badge font-size-12 bg-warning p-1">بدون پاسخ </span>
                    <span *ngIf="order.status === 'CONFIRM'" class="badge font-size-12 bg-success p-1">تایید شده</span>
                  </td>

                  <td *permissionAnyOf="['admin', 'super_admin', 'acc']">
                    <div class="btn-group btn-group-sm" role="group">
                      <button class="btn btn-success  "  [disabled]="order.status != 'REQUEST'" (click)="confirmOrder(order)">تایید</button>
                      <button class="btn  btn-danger"  [disabled]="order.status != 'REQUEST'" (click)="rejectOrder(order, reject)" >رد</button>
                    </div>

                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============================================= user command ==========================================================-->
  <div class="row" *permissionOnly="['user']">
   <div class="col-md-12">
     <div *ngIf="userCommandUnclearedList?.length > 0"  >
       <div class="card">
         <div class="card-body">
           <div class="table-responsive table-hover fs-14  " >
             <table class="table display mb-4 dataTablesCard dataTable border-no font-w600  card-table text-black">

               <tr class="align-middle">
                 <td> نوع درخواست</td>
                 <td>مبلغ</td>
                 <td>شماره حساب </td>
                 <td> به نام </td>
                 <td>بانک</td>
                 <td>وضعیت</td>
                 <td >ثبت</td>
               </tr>
               <tr *ngFor="let commandChild of userCommandUnclearedList; let i = index">
                 <!--                  <td  *permissionIf="'admin', 'super_admin'"> {{order.user.name}}</td>-->
                 <td *ngIf="commandChild.type === 'PAY'">پرداخت</td>
                 <td *ngIf="commandChild.type === 'RECEIVE'"> دریافت</td>

                 <td>{{commandChild.amount | number : '1.0-3'}}</td>
                 <td>{{commandChild.accountNumber }}</td>
                 <td>{{commandChild.accountOwnerName}}</td>
                 <td>{{commandChild.bankName}}</td>
                 <td >
                    <span *ngIf="commandChild.status === 'UNCLEARED'" class="badge  font-size-12 bg-info p-1" >  تسویه نشده </span>
                   <span *ngIf="commandChild.status === 'CLEARED'" class="badge font-size-12 bg-success  p-1"> تسویه شده</span>
                   <span *ngIf="commandChild.status === 'OVER'" class="badge font-size-12 bg-danger p-1"> اضافه واریز </span>
                 </td>

                 <td >
                   <div class="btn-group btn-group-sm" role="group">
                     <button class="btn btn-info  " (click)="makePayInfo(commandChild, payInfoModal)" [disabled]="commandChild.status === 'CLEARED'|| commandChild.status === 'OVER' " >ثبت فیش</button>
                   </div>

                 </td>
               </tr>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>

  </div>

  <!--============================================= admin set price ==========================================================-->
  <div class="row" *permissionAnyOf="['admin', 'super_admin', 'acc']">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" >
              <div class="row">
                <form name="editForm" role="form" novalidate  [formGroup]="setPriceForm">
                <div class="row">
                  <div class="d-flex justify-content-around">
                    <div class="form-check form-check-success mb-3">
                      <input class="form-check-input" [checked]="mas[0]?.activeBuy" (click)="buyStatusChange($event.target)" type="checkbox" id="formCheck2">
                      <label class="form-check-label" for="formCheck1">
                        خرید
                      </label>
                    </div>
                    <div class="form-check form-check-danger  mb-3">
                      <input class="form-check-input" (click)="sellStatusChange($event.target)" [checked]="mas[0]?.activeSell" type="checkbox" id="formCheck1">
                      <label class="form-check-label" for="formCheck1">
                        فروش
                      </label>
                    </div>

                  </div>

                </div>

                        <div class="col-md-12">
                          <div class="input-group">
                            <button class="btn btn-success" type="button"
                                    id="11" (click)="plusPrice()">افزایش</button>
                            <input type="text"  currencyMask (keyup)="setlimit()"  formControlName="price"    class="form-control text-center"
                                   id="tt">
                            <button class="btn btn-danger" type="button"
                                    id="22" (click)="minesPrice()">کاهش</button>
                          </div>
                        </div>
                </form>
              </div>
          <div class="text-center mt-2">
            <div class="row">
              <div >
                  <div *ngFor="let m of mas " class="row mt-3 ">
                    <div class="d-flex justify-content-between">
                    <div> <button  class="btn  shadow " [ngClass]="m.activeBuy  ?  'btn-success' : 'btn-outline-success'"  (click)="makeOrder(orderModel, m.priceGroupId, 'BUY')">

                      <span>  {{m.buy| number}} </span><br/>
                      <span>خرید از ما </span>
<!--                      <span>Delivery &amp; Pickup</span>-->
                    </button></div>
                    <div ><h5>{{m.priceGroupName}} -- {{m.priceGroupDescription}}</h5></div>
                    <div> <button  class="btn shadow " [ngClass]="m.activeSell  ?  'btn-danger' : 'btn-outline-danger'" (click)="makeOrder(orderModel, m.priceGroupId, 'SELL')">
                      <span>  {{m.sell| number}} </span><br/>
                      <span>فروش به ما  </span>
                    </button></div>
                    </div>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--============================================= admin Orders ==========================================================-->
    <div *ngIf="orders?.length > 0"  >
      <div class="card">
        <div class="card-body">
          <div class="table-responsive table-hover fs-14  " >
            <table class="table table-sm display mb-4  table-hover border-no font-w600  ">

              <tr class="align-middle">
                <td>مشتری</td>
                <td> نوع درخواست</td>
                <td>مقدار</td>
                <td>نرخ </td>
                <td *ngIf="deviceService.isDesktop()">توضیحات</td>
                <td>وضعیت</td>
                <td *permissionAnyOf="['admin', 'super_admin', 'acc']">عملیات</td>
              </tr>
              <tr *ngFor="let order of orders; let i = index">
                                  <td  *permissionIf="'admin', 'super_admin'"> {{order.name}}</td>
                <td *ngIf="order.type === 'SELL'">فروش </td>
                <td *ngIf="order.type === 'BUY'">خرید </td>

                <td>{{order.amount | number : '1.0-3'}}</td>
                <td>{{order.price | number}}</td>
                <td *ngIf="deviceService.isDesktop()" >{{order.description}}</td>
                <td >
                  <span *ngIf="order.status === 'REQUEST'" class="badge  font-size-12 bg-info p-1" > در انتظار </span>
                  <span *ngIf="order.status === 'UNCONFIRM'" class="badge font-size-12 bg-danger p-1">تایید نشده</span>
                  <span *ngIf="order.status === 'REJECT'" class="badge font-size-12 bg-warning p-1">بدون پاسخ </span>
                  <span *ngIf="order.status === 'CONFIRM'" class="badge font-size-12 bg-success p-1">تایید شده</span>
                </td>

                <td *permissionAnyOf="['admin', 'super_admin', 'acc']">
                  <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-success  "  [disabled]="order.status != 'REQUEST'"  (click)="confirmOrder(order)">تایید</button>
                    <button class="btn  btn-danger"  [disabled]="order.status != 'REQUEST'" (click)="rejectOrder(order, reject)" >رد</button>
                  </div>

                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>



<!--********************************************************************************************************************
                modal
***********************************************************************************************************************-->
<ng-template #orderModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'BUY'">درخواست خرید</h4>
    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'SELL'">درخواست فروش</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="orderForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-12">
          <p *ngIf="orderForm.get('transaction_type').value === 'BUY'" class="alert alert-success">
            <span>خرید آبشده از ما با نرخ   {{orderForm.get('fee').value| number}}</span>
          </p>
          <p *ngIf="orderForm.get('transaction_type').value === 'SELL'" class="alert alert-danger">
            <span>فروش آبشده به ما با نرخ    {{orderForm.get('fee').value| number}}</span>

          </p>
        </div>
        <div class="col-md-12" *permissionAnyOf="['admin', 'super_admin', 'acc']" >
          <label  class="form-label">طرف حساب: </label>
          <ng-select [items]="persons"
                      (keydown)="checkLang($event)"
                     autofocus="true"
                     notFoundText = "مشتری با این نام وجود ندارد!"
                     bindLabel="name"
                     formControlName="userId"
                     bindValue="id"
                     trans
                     [loading]="personsLoading">
          </ng-select>
        </div>
        <div class="col-md-12" *permissionAnyOf="['admin', 'super_admin', 'acc']">
          <label for="fee" class="form-label">مظنه:</label>
          <input type="text" currencyMask   formControlName="fee" class="form-control"
                 id="fee">
        </div>
        <div class="col-md-12">
          <label for="quantity" class="form-label">مقدار درخواست: </label>
          <input type="number"  (keyup)="culcPrice()" formControlName="quantity" class="form-control" id="quantity">
        </div>
        <div class="col-md-12">
          <label for="price" class="form-label">مبلغ   :</label>
          <input type="text" currencyMask   (keyup)="culcQuantity()"  formControlName="price" class="form-control"
                 id="price">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit" [disabled]="!orderForm.valid" *permissionOnly="['user']"
              (click)="saveGoldOrder() ;modal.close() "
             class="btn btn-success btn-sm">ثبت درخواست
      </button>
      <button type="submit" *permissionAnyOf="['admin', 'super_admin', 'acc']"
              (click)="saveAdminGoldOrder() ;modal.close() "
              class="btn btn-success btn-sm">ثبت دستی
      </button>

    </div>
  </form>
</ng-template>


<!--=======================================//reject modal============================================-->


<ng-template #reject let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <select class="form-select me-sm-2 wide" aria-label="Default select example" [(ngModel)]="rejectComment" id="rejectComment">
      <option value="با عرض پوزش به علت تغییر مظنه تایید نشد">  تغییر مظنه </option>
      <option value=" مقدار درخواست خارج از محدوده"> مقدار درخواست خارج از محدوده</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss('cancel click')">انصراف</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss(unconfirmOrder(rejectComment))">تایید</button>
  </div>
</ng-template>

<ng-template #remitModal let-modal>
  <div class="modal-header">
    <h4>حواله طلا</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
    <div class="col-md-12"  >
      <label  class="form-label">طرف حساب: </label>
      <ng-select [items]="persons"
                 autofocus="true"
                 notFoundText = "مشتری با این نام وجود ندارد! جهت حواله تماس بگیرید"
                 bindLabel="name"
                 (change)="changeSelectPerson($event)"
                 bindValue="id"
                 [loading]="personsLoading">
      </ng-select>
    </div>
    <div class="col-md-12">
      <label for="amount" class="form-label">مقدار:</label>
      <input type="number"   class="form-control"
             id="amount">
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">شرح :</label>
      <input type="text"   class="form-control"
             id="description">
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss('cancel click')">انصراف</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss(unconfirmOrder(rejectComment))">تایید</button>
  </div>
</ng-template>
<ng-template #payInfoModal let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="payInfoForm" >
      <!--        Progress Bar-->
      <!--        <div class="progress form-group" *ngIf="percentDone">-->
      <!--          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"-->
      <!--               [style.width.%]="percentDone">-->
      <!--          </div>-->
      <!--        </div>-->
      <div class="row mb-5">
        <div class="col-md-6">
          <label for="amount" class="form-label">مبلغ فیش: </label>
          <input type="text" formControlName="amount" autocomplete="off" currencyMask  ngbAutofocus class="form-control" id="amount">
        </div>
        <div class="col-md-6">
          <label for="receiptNumber" class="form-label">شماره فیش: </label>
          <input type="text" formControlName="receiptNumber"    class="form-control" id="receiptNumber">
        </div>
        <div class="col-md-12">
          <label for="description" class="form-label"> توضیحات: </label>
          <input type="text" formControlName="description"    class="form-control" id="description">
        </div>
      </div>
      <div class="form-group">
        <div class="preview " *ngIf="preview && preview !== null">
          <img [src]="preview" [alt]="payInfoForm.value.name" width="150">
        </div>
      </div>

      <div class="form-group">
        <input type="file" (change)="uploadFile($event)">
      </div>

      <div class="row">
        <button class="btn btn-info btn-block mt-5" (click)="submitForm(); modal.close() ">ثبت فیش</button>
      </div>
    </form>
  </div>

</ng-template>
