<div class="container-fluid">
<!--  <span class="loader" #loading></span>-->
  <ng-template #loading ><div style="margin-top: 300px" class=" d-flex justify-content-center">
    <span class="loader" ></span>
  </div></ng-template>
<div *ngIf="!displaySpinner; else loading" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-2"><h4>لیست ریسک:</h4></div>
  <ngx-datatable
    #table
    [rows]="demands" [columns]="columns"
    class="bootstrap"
    rowHeight="auto"
    [columnMode]="ColumnMode.force"
    [selected]="selected"
    [selectionType]="SelectionType.multiClick"
    (select)="onSelect($event)"
  >
    <ngx-datatable-column prop="name" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden">نام</span>
      </ng-template>
      <ng-template let-value="value"  ngx-datatable-cell-template>
        <span class="mobile-hidden">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="balance_v" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden">مانده وزنی</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden ">{{ value  }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="balance_r" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden "> مانده ریالی</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden ">{{ value |number }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="risk_amount" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden "> ریسک</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden ">{{ value |number : '1.0-0' }}</span>
      </ng-template>
    </ngx-datatable-column>



  </ngx-datatable>

          </div>
          </div>
          </div>


</div>
</div>

<!--**********************************
                modal
***********************************-->

