<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">



        <div class="card-body">
          <div class="d-flex flex-wrap mb-3">
            <h4 class="mr-2">لیست گروههای قیمتی</h4>
            <div class="ms-auto ">
              <button class="btn btn-primary" (click)="groupModal(createGroupForm)">ایجاد گروه قیمتی</button>
            </div>

          </div>
          <hr>
          <div class="table-responsive">
            <table class="table align-middle  table-nowrap table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 70px;">#</th>
                  <th scope="col">نام</th>
                  <th scope="col">شرح</th>
                  <th scope="col">خرید</th>
                  <th scope="col">فروش</th>
                  <th scope="col">محدودیت</th>
                  <th scope="col">تفاوت</th>
                  <th scope="col">گپ</th>
                  <th scope="col">مدیریت</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of groups; let i = index">
                  <td>{{group.id}}</td>
                  <td>{{group.name}}</td>
                  <td>{{group.description}}</td>
                  <td><span *ngIf="group.buy" class="badge bg-success "> فعال</span><span *ngIf="!group.buy" class="badge  bg-light"> غیرفعال</span></td>
                  <td><span *ngIf="group.sell" class="badge bg-success "> فعال</span><span *ngIf="!group.sell" class="badge  bg-light"> غیرفعال</span></td>
                  <td>{{group.limit}}</td>
                  <td>{{group.difference | number}}</td>
                  <td>{{group.gap| number}}</td>

                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a href="javascript: void(0);" ngbTooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a class="text-info" (click)="editPriceGroup(group, createGroupForm )" ngbTooltip="ویرایش"><i class="bx bx-edit-alt"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==================================================================-->
<ng-template #createGroupForm let-modal>
  <div class="modal-header">
    <!--    <h4 class="modal-title" *ngIf="orderForm.get('transaction_type').value === 'b'">درخواست خرید</h4>-->
    <h4 class="modal-title" > ایجاد فرم جدید</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="groupForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-6">
          <label for="name" class="form-label">عنوان </label>
          <input  type="text" formControlName="name" class="form-control" id="name">
        </div>
        <div class="col-md-6">
          <label for="description" class="form-label">شرح </label>
          <input  type="text" formControlName="description" class="form-control" id="description">
        </div>
        <div class="col-md-6">
          <label for="gap" class="form-label">گپ </label>
          <input type="text" currencyMask formControlName="gap" class="form-control" id="gap">
        </div>
        <div class="col-md-6">
          <label for="difference" class="form-label">تفاوت </label>
          <input type="text" currencyMask formControlName="difference" class="form-control" id="difference">
        </div>
        <div class="col-md-4">
          <label for="limit" class="form-label">محدودیت معامله</label>
          <input type="text"   formControlName="limit" class="form-control" id="limit">
        </div>
        <div class="col-md-4">
        <div class="form-check form-check-success mb-3">
          <input class="form-check-input" formControlName="buy" type="checkbox" id="buy" >
          <label class="form-check-label" for="buy">
            خرید
          </label>
        </div>
        </div>
        <div class="col-md-4">
          <div class="form-check form-check-danger mb-3">
            <input class="form-check-input" formControlName="sell" type="checkbox" id="sell" >
            <label class="form-check-label" for="sell">
              فروش
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button *ngIf="!groupForm.get('id').value" type="button"  class="btn btn-success btn-sm"
              (click)=" saveGroup(); modal.close()">ثبت گروه
      </button>
      <button *ngIf="groupForm.get('id').value" type="button"  class="btn btn-success btn-sm"
              (click)=" updateGroup(); modal.close()">ویرایش گروه
      </button>

    </div>
  </form>
</ng-template>

