<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-5">
            <div  class="d-flex flex-wrap">
              <h4 class="card-title">لیست  دستور پرداخت</h4>
              <div  class="ms-auto mt-auto">

              </div>

            </div>
          </div>

          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">تعداد
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                    <option [ngValue]="1000">1000</option>
                  </select> سطر</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                  class="d-inline-flex align-items-center">جستجو:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="audienceName " (sort)="onSort($event)"> مشتری</th>
                  <th sortable="amount" (sort)="onSort($event)">  قابل پرداخت</th>
                  <th sortable="accountOwnerName" (sort)="onSort($event)"> پرداخت شده به </th>
                  <th sortable="bankName" (sort)="onSort($event)">   بانک </th>
                  <th sortable="balance" (sort)="onSort($event)">   مانده از پرداخت </th>

                </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                  <td>
                    <ngb-highlight [result]="table.audienceName" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight [result]="table.amount| number " [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.accountOwnerName?.toString() " [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.bankName?.toString() " [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.balance| number " [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a href="javascript: void(0);" ngbTooltip="ارسال پیام"><span class="text text-info"><i class="bx bx-message-square-dots"></i></span></a>
                      </li>
                      <li class="list-inline-item px-2" >
                        <a ngbTooltip="خرد کردن" (click)="makeCommandChild(table, commandChildModal)"><span class="text text-danger"><i class="bx bxs-minus-square"></i></span></a>
                      </li>
<!--                      <li class="list-inline-item px-2" *ngIf="table.balance_r<0" >-->
<!--                        <a  ngbTooltip="دریافت ریالی " (click)="makeCommand(table, commandModal, 'RECEIVE')"><span class="text text-success"><i class="bx bxs-plus-square"></i></span></a>-->
<!--                      </li>-->
                    </ul>
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--**********************************
                modal
***********************************-->
<ng-template #commandChildModal let-modal>
  <div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate (ngSubmit)="saveCommandChild()" [formGroup]="commandForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-6">
          <label  class="form-label">طرف حساب: </label>
          <ng-select [items]="audiences"
                     autofocus="true"
                     notFoundText = "مشتری با این نام وجود ندارد!"
                     bindLabel="name"
                     formControlName="id"
                     bindValue="id"
                     [loading]="audiences">
          </ng-select>
        </div>
        <div class="col-md-6">
          <label for="amount" class="form-label">مبلغ درخواست: </label>
          <input type="text" formControlName="amount" currencyMask   class="form-control" id="amount">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit"
              class="btn btn-success btn-sm"
              (click)="modal.close()">ثبت درخواست
      </button>

    </div>
  </form>
</ng-template>
