<div class="container-fluid">
<!--  <span class="loader" #loading></span>-->
  <ng-template #loading ><div style="margin-top: 300px" class=" d-flex justify-content-center">
    <span class="loader" ></span>
  </div></ng-template>
<div *ngIf="!displaySpinner; else loading" class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  <ngx-datatable
    #table
    [rows]="demands" [columns]="columns"
    class="bootstrap"
    rowHeight="auto"
    [columnMode]="ColumnMode.force"
    [selected]="selected"
    [selectionType]="SelectionType.multiClick"
    (select)="onSelect($event)"
  >
    <ngx-datatable-column prop="name" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden">نام</span>
      </ng-template>
      <ng-template let-value="value"  ngx-datatable-cell-template>
        <span class="mobile-hidden">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="balance_v" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden">مانده وزنی</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden ">{{ value  }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="balance_r" [flexGrow]="1">
      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>
        <span class="mobile-hidden "> مانده ریالی</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden ">{{ value |number }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop='balance_r'>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                   let-row="row">
        <button type="button" *ngIf="value>0"class="btn btn-sm btn-danger"
                (click)="makeCommand(rowIndex, commandModal, 'PAY')"> <i class="bx bxs-minus-square font-size-16 align-middle me-2"></i> پرداخت</button>
        <button type="button" *ngIf="value<0"class="btn  btn-sm btn-success"
                (click)="makeCommand(rowIndex, commandModal, 'RECEIVE')"><i class="bx bxs-plus-square  font-size-16 align-middle me-2"></i> دریافت </button>
<!--        <button type="button" class="btn btn-outline-danger"-->
<!--                (click)='delete(value)'>Danger</button>-->


      </ng-template>
    </ngx-datatable-column>
<!--    <ngx-datatable-column prop="risk_amount" [flexGrow]="1">-->
<!--      <ng-template let-column="columns" let-sort="sortFn" ngx-datatable-header-template>-->
<!--        <span class="mobile-hidden "> ریسک </span>-->
<!--      </ng-template>-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        <span class="mobile-hidden ">{{ value |number }}</span>-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->

  </ngx-datatable>
          </div>
          </div>
          </div>


</div>
</div>

<!--**********************************
                modal
***********************************-->
<ng-template #commandModal let-modal>
  <div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate  [formGroup]="commandForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-md-12">
          <label for="amount" class="form-label">مبلغ درخواست: </label>
          <input type="text" formControlName="amount" currencyMask ngbAutofocus autocomplete="off"  class="form-control" id="amount">
        </div>

      <div class="col-md-12">
        <label for="accountNumber" class="form-label">شماره حساب: </label>
        <input type="text" formControlName="accountNumber" class="form-control" id="accountNumber">
      </div>
      <div class="col-md-6">
        <label for="bankName" class="form-label">بانک: </label>
        <input type="text" formControlName="bankName" class="form-control" id="bankName">
      </div>
      <div class="col-md-6">
        <label for="accountOwnerName" class="form-label">صاحب حساب: </label>
        <input type="text" formControlName="accountOwnerName" class="form-control" id="accountOwnerName">
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm"
              (click)="modal.close()">انصراف
      </button>
      <button type="submit"
              (click)="saveCommand(); modal.close()"
              class="btn btn-success btn-sm"
              >ثبت درخواست
      </button>

    </div>
  </form>
</ng-template>
