<div class="container-fluid">
  <div class="row"  >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">لیست تراکنش ها</h4>
          <div class="row mb-md-2">
            <div class="col-md-6">
              <label for="startDate" class="form-label">تاریخ شروع </label>
              <div class="input-group">
                <input
                  id="startDate"
                  [(ngModel)]="startDate"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  (click)="d.toggle()"
                />

              </div>
            </div>
            <div class="col-md-6">
              <label for="endDate" class="form-label">تاریخ پایان </label>
              <div class="input-group mb-3">

                                <input
                                  id="endDate"
                                  [(ngModel)]="endDate"
                                  class="form-control"
                                  placeholder="yyyy-mm-dd"
                                  name="dp"
                                  ngbDatepicker
                                  #c="ngbDatepicker"
                                  (closed)="checkDate()"
                                  (click)="c.toggle()"/>
                <button class="btn btn-info"  (click)="checkDate()" type="button">جستجو</button>
              </div>
<!--              <label for="endDate" class="form-label">تاریخ پایان </label>-->
<!--              <div class="input-group">-->
<!--                <input-->
<!--                  id="endDate"-->
<!--                  [(ngModel)]="endDate"-->
<!--                  class="form-control"-->
<!--                  placeholder="yyyy-mm-dd"-->
<!--                  name="dp"-->
<!--                  ngbDatepicker-->
<!--                  #c="ngbDatepicker"-->
<!--                  (closed)="checkDate()"-->
<!--                  (click)="c.toggle()"-->
<!--                />-->


            </div>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr >
                  <th *ngIf="deviceService.isDesktop()">سند</th>
                  <th *ngIf="deviceService.isDesktop()">تاریخ</th>
                  <th>نام</th>
                  <th>مقدار</th>
                  <th>مظنه</th>
                  <th>ریالی</th>
                </tr>
              </thead>
              <tbody *ngFor="let trade of trades ">
                <tr [ngClass]="trade.n_sanad == 81|| trade.n_sanad == 83 ? ' text-success ' : 'text-danger'">
                <td *ngIf="deviceService.isDesktop()">{{trade.sanad}}</td>
                <td *ngIf="deviceService.isDesktop()">{{trade.tariz}}</td>
                <td>{{trade.name}}</td>
                <td>{{trade.v_750}}  </td>
                <td>{{trade.cod_sekh|number}} </td>
                <td><span *ngIf="trade.r_bed>0">{{trade.r_bed|number}}</span> <span *ngIf="trade.r_bes">{{trade.r_bes|number}}</span></td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- End table -->

        </div>
      </div>
    </div>
  </div>

</div>

