<div class="container-fluid">

  <div class="row" *ngFor="let child of commandChildren ">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap border-bottom pb-2">
          <h4>
            <span  *permissionAnyOf="['admin', 'acc']" >{{child.name }} -- {{child.amount | number}}</span>
            <span>  شماره حساب : {{command.accountNumber}}</span>
            <span>  به نام :{{command.accountOwnerName}} </span>
            <span>  قابل پرداخت : {{child.amount}} </span>
          </h4>
          <div class="ms-auto mt-auto">
          <button class="btn btn-sm btn-success mr-1 "  (click)="makePayInfo(child, payInfoModal)">ثبت فیش</button>
          <button class="btn btn-sm btn-primary mr-1"  (click)="editCommandChild(child, commandChildModal)">ویرایش  </button>
          <button class="btn  btn-sm btn-danger mr-1"  (click)="deleteCommandChild(child)">حذف  </button>
          </div>


        </div>
        <div class="row ">

            <div class="col-md-3"  *ngFor="let pay of child.payInformationList ">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mt-0">مبلغ : {{pay.amount | number}} </h4>
                    <span *ngIf="pay.status === 'REQUEST'" class="badge font-size-14 bg-info mb-1 " > در انتظار </span>
                    <span *ngIf="pay.status === 'UNCONFIRM'" class="badge font-size-14 bg-danger  mb-1">تایید نشده</span>
                    <span *ngIf="pay.status === 'CONFIRM'" class="badge font-size-14 bg-success  mb-1">تایید شده</span>

                </div>
                <img [src]="transform(pay.image)" (click)="showLightbox(pay.image)"  style="max-height: 150px"/>
                <div class="card-body">
                  <p class="card-text">شرح :{{pay.description}} </p>
                  <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger btn-sm  "  (click)="deletePayInfo(pay)"> حذف فیش</button>
                    <button type="button" class="btn btn-warning btn-sm  " (click)="unConfirmPay(pay.id)"> رد فیش </button>
                    <button type="button" class="btn btn-success btn-sm " (click)="confirmPay(pay.id)">تایید فیش</button>
                  </div>

                </div>
                                        <ng-image-fullscreen-view
                                          [images]="imageObject"
                                          [show]="showFlag"
                                          [direction]="'rtl'"
                                          [closeText]="'بستن'"
                                          (click)="onclick($event)"
                                        ></ng-image-fullscreen-view>
              </div>
<!--              <div class="card ">-->
<!--                <div class="card-body  ">-->
<!--                  <h4 class="card-title text-center"> مبلغ : {{pay.amount | number}}  </h4>-->
<!--                  <p class="card-title-desc ">  شرح : {{pay.description}}  </p>-->
<!--                  <div class="row text-center ">-->
<!--                    <div class="col-6">-->
<!--                      <div>-->
<!--                        <span *ngIf="pay.status === 'REQUEST'" class="badge font-size-14 bg-info mb-1 " > در انتظار </span>-->
<!--                        <span *ngIf="pay.status === 'UNCONFIRM'" class="badge font-size-14 bg-danger  mb-1">تایید نشده</span>-->
<!--                        <span *ngIf="pay.status === 'CONFIRM'" class="badge font-size-14 bg-success  mb-1">تایید شده</span>-->

<!--                        <div class=" d-flex align-items-center">-->
<!--                          <img [src]="transform(pay.image)" (click)="showLightbox(pay.image)"  style="max-height: 150px"/>-->
<!--                        </div>-->

<!--                        <div>-->
<!--                          <div class="btn-group  mt-2" role="group">-->
<!--                            <button type="button" class="btn btn-danger btn-sm "  (click)="deletePayInfo(pay)">حذف</button>-->
<!--                            <button type="button" class="btn btn-warning btn-sm " (click)="unConfirmPay(pay.id)"> رد </button>-->
<!--                            <button type="button" class="btn btn-success btn-sm " (click)="confirmPay(pay.id)">تایید</button>-->
<!--                          </div>-->

<!--                        </div>-->
<!--                        <ng-image-fullscreen-view-->
<!--                          [images]="imageObject"-->
<!--                          [show]="showFlag"-->
<!--                          [direction]="'rtl'"-->
<!--                          [closeText]="'بستن'"-->
<!--                          (click)="onclick($event)"-->
<!--                        ></ng-image-fullscreen-view>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>

      </div>
    </div>
  </div>


  </div>


<!--**********************************
                modal
***********************************-->
    <ng-template #payInfoModal let-modal>
      <div class="modal-header">

        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <div class="modal-body">
     <form [formGroup]="payInfoForm" >
       <!--        Progress Bar-->
       <!--        <div class="progress form-group" *ngIf="percentDone">-->
       <!--          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"-->
       <!--               [style.width.%]="percentDone">-->
       <!--          </div>-->
       <!--        </div>-->
       <div class="row mb-5">
         <div class="col-md-6">
           <label for="amount" class="form-label">مبلغ فیش: </label>
           <input type="text" formControlName="amount" autocomplete="off" currencyMask  ngbAutofocus class="form-control" id="amount">
         </div>
         <div class="col-md-6">
           <label for="receiptNumber" class="form-label">شماره فیش: </label>
           <input type="text" formControlName="receiptNumber"    class="form-control" id="receiptNumber">
         </div>
         <div class="col-md-12">
           <label for="description" class="form-label"> توضیحات: </label>
           <input type="text" formControlName="description"    class="form-control" id="description">
         </div>
       </div>
       <div class="form-group">
         <div class="preview " *ngIf="preview && preview !== null">
           <img [src]="preview" [alt]="payInfoForm.value.name" width="150">
         </div>
       </div>

       <div class="form-group">
         <input type="file" (change)="uploadFile($event)">
       </div>

       <div class="row">
         <button class="btn btn-info btn-block mt-5" (click)="submitForm(); modal.close() ">ثبت فیش</button>
       </div>
     </form>
   </div>

    </ng-template>

<ng-template #commandChildModal let-modal>
  <div class="modal-header">

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="commandChildForm" >
      <div class="row mb-5">
        <div class="col-md-6">
          <label for="amount_command_child" class="form-label">مبلغ درخواست: </label>
          <input type="text" formControlName="amount" autocomplete="off" currencyMask  ngbAutofocus class="form-control" id="amount_command_child">
        </div>
      </div>
      <div class="row">
        <button class="btn btn-info btn-block mt-5" (click)="updateCommandChild(); modal.close() ">ویرایش درخواست پرداخت</button>
      </div>
    </form>
  </div>

</ng-template>
