<div class="container-fluid">

  <div class="row" *ngFor="let child of commandChildren ">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <h4> {{child.name }} -- {{child.amount}}</h4>

          <button class="btn btn-sm btn-secondary">ثبت فیش</button>
        </div>


        <div class="row">
          <div *ngFor="let pay of child.payInformationList ">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{pay.amount}}</h4>
                  <p class="card-title-desc">{{pay.description}}</p>
                  <div class="row">
                    <div class="col-6">
                      <div>
                        <span class="bg bg-danger">{{pay.status}}</span>

                        <div class="img-fluid">
                          <img [src]="transform(pay.image)" (click)="showLightbox(pay.image)" width="145"/>
                        </div>

                        <div>
                          <button class="btn btn-sm btn-success"> تایید</button>
                          <button class="btn btn-sm btn-danger"> رد</button>
                        </div>
                        <ng-image-fullscreen-view
                          [images]="imageObject"
                          [show]="showFlag"
                          [direction]="'rtl'"
                          [closeText]="'بستن'"
                          (click)="onclick($event)"
                        ></ng-image-fullscreen-view>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>


<!--**********************************
                modal
***********************************-->
    <ng-template #payInfoModal let-modal>
      <div class="modal-header">

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="payInfoForm" (ngSubmit)="submitForm()">
        Progress Bar
        <div class="progress form-group" *ngIf="percentDone">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
               [style.width.%]="percentDone">
          </div>
        </div>
        <!-- Image Preview -->
        <div class="form-group">
          <div class="preview" *ngIf="preview && preview !== null">
            <img [src]="preview" [alt]="payInfoForm.value.name">
          </div>
        </div>
        <!-- File Input -->
        <div class="form-group">
          <input type="file" (change)="uploadFile($event)">
        </div>
        <!-- Name -->
        <div class="form-group input-group-lg">
          <input class="form-control" placeholder="Name" formControlName="name">
        </div>
        <!-- Submit -->
        <div class="form-group">
          <button class="btn btn-danger btn-block btn-lg">Create User</button>
        </div>
      </form>
    </ng-template>
<!--    <ng-template #commandChildInformation let-modal>-->
<!--      <div class="modal-header">-->

<!--        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form name="editForm" role="form" novalidate (ngSubmit)="saveCommandChild()" [formGroup]="commandChildForm">-->
<!--        <div class="modal-body">-->


<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-danger btn-sm"-->
<!--                  (click)="modal.close()">بستن-->
<!--          </button>-->


<!--        </div>-->
<!--      </form>-->
<!--    </ng-template>-->
